[submodule "Assets/GameMachineCommon"]
	path = Assets/GameMachineCommon
	url = https://nanclin@github.com/nanclin/GameMachineCommon.git
[submodule "Assets/Games/TemplateGame"]
	path = Assets/Games/TemplateGame
	url = https://nanclin@github.com/nanclin/GameMachine_TemplateGame.git
